* { box-sizing: border-box }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    place-items: center;
}

canvas {
    display: block;
    min-width: 360px;
    max-width: 712px;
    width: 100vmin;
    min-height: 360px;
    max-height: 712px;
    height: 100vmin;
    margin: auto;
    background: #e9d7bc;
}