* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { display: none }

html { font-size: 62.5% }

:root {
    --main-background: #E9D7BC;
    --labels: #455c52;

    // shades of green
    --classic-1: '#CDAA7D';
    --classic-2: '#385546';
    --classic-3: '#899878';

    // moss green
    --contrast-1: '#E4E6C3';
    --contrast-2: '#222725';
    --contrast-3: '#899878';
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    font-size: 1.6rem;
    font-family: 'Reddit Mono'
}

@media screen and (min-height: 1080px) {
    body { font-size: 2.4rem }
}

header, footer {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
}

header {
    grid-area: header;
}

header select {
    width: 100%;
    height: 2.4rem;
}

header div {
    margin-top: 2rem;
}

header div button {
    width: 3.6rem;
    height: 3.6rem;
}

header canvas {
    width: 3.6rem;
    height: 3.6rem;
}

footer {
    grid-area: footer;
    border-top: 0.1rem solid gray;
}

footer select {
    width: 100%;
    margin-top: 1.2rem;
}

footer fieldset { margin-top: 1.2rem }

footer p { margin-bottom: 0 }

#user-turn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-turn h3 {
    margin: 0;
}

main {
    position: relative;
    grid-area: main;
    width: 100vmin;
    height: 100vmin;
    background: var(--main-background);
    overflow-y: scroll;
}

main canvas {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 2.4rem;
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: 100vmin 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "main header"
            "main footer";
    }
}

@media screen and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100vmin 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

.inactive { display: none }
