* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { display: none }

html { font-size: 62.5% }

:root {
    --main-background: #E9D7BC;
    --labels: #455c52;

    // shades of green
    --classic-1: '#CDAA7D';
    --classic-2: '#385546';
    --classic-3: '#899878';

    // moss green
    --contrast-1: '#E4E6C3';
    --contrast-2: '#222725';
    --contrast-3: '#899878';
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    font-size: 1.6rem;
    font-family: 'Reddit Mono'
}

@media screen and (min-height: 1080px) {
    body { font-size: 2.4rem }
}

header, footer {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
}

header {
    grid-area: header;
}

header div button {
    width: 3.6rem;
    height: 3.6rem;
}

footer {
    grid-area: footer;
}

main {
    position: relative;
    grid-area: main;
    width: 100vmin;
    height: 100vmin;
    background: var(--main-background)
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
